@using Identity.Infrastructure
@model IEnumerable<Identity.Entities.AppUser>
@{
    ViewBag.Title = "AllUsers";
    Layout = "~/Views/Shared/_ForPageWithMenu.cshtml";
}

<h2>AllUsers</h2>
<html>
<body>
    <table>
        <tr>
            <th> @Html.DisplayNameFor(model => model.UserName)</th>
            <th> @Html.DisplayNameFor(model => model.Email)</th>
            <th> @Html.DisplayNameFor(model => model.Roles)</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>@Html.GetUserName(item)</td>
                <td>@Html.ActionLink("ChangeRoles", "ChangeRole", new {id=item.Id})</td>
            </tr>

        }
    </table>

</body>
</html>

